/* Estilos de botões */
.btn {
    padding: var(--spacing-unit) calc(var(--spacing-unit) * 2.5);
    font-size: var(--font-size-text);
    font-weight: 600;
    border-radius: var(--border-radius);
    cursor: pointer;
    border: none;
    transition: var(--transition);
    color: var(--background-light);
  }
  
  .btn-primary {
    background-color: var(--primary-color);
  }

  .btn-social button{

    width: calc(var(--spacing-unit) * 4);
    height: calc(var(--spacing-unit) * 4);
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    font-size: calc(var(--font-size-text) * 1.5);
    cursor: pointer;
    margin: 0 10px;
    transition: var(--transition);
  }