/* Estilos específicos do header */
header {
  padding: var(--spacing-unit) clamp(20px, 4%, 60px);
  }
  
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header__nav-list {
    list-style-type: none;
  }
  
  .header__nav-item {
    display: inline-block;
    padding: 0 calc(var(--spacing-unit) * 2.5);
  }
  
  .nav-link {
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
  }
  
  .nav-link:hover {
    color: var(--white);
    transform: scale(1.05);
  }
  
  .logo {
    width: 150px;
  }