h2.projects__title {
  color: var(--background-light);
  font-size: var(--font-size-title);
  text-align: center;
  margin: var(--line-spacing) 0;
}

section.projects {
  padding: var(--line-spacing);
  box-shadow: 0 0 40px 10px #ffffff3a;
}

.projects__item-image {
  width: 100%;
  max-width: 360px;
  height: auto;
  aspect-ratio: 1/1.2; /* Mantém a proporção da imagem */
  background-size: cover;
  background-position: 100% 0%;
  transition: 5s;
  cursor: pointer;
  border-radius: var(--border-radius);
  position: relative;
}

.projects .flex {
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 45%;
  margin-top: calc(var(--spacing-unit) * 3.75);
  padding: calc(var(--spacing-unit) * 2.5);
}

.projects__item-image:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-weight: 600;
  background-color: #00000075;
  color: var(--white);
  opacity: 0;
  transition: 0.5s;
}

.overlay:hover {
  opacity: 1;
}

.projects__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px; /* Ajuste conforme necessário */
  text-align: center;
  position: relative;
}

.botoes {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.botao {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  transition: 0.3s;
  display: inline-block;
  font-size: 14px;
}

.ver-projeto {
  background-color: #007bff;
  color: white;
  border: 2px solid transparent;
}

.ver-projeto:hover {
  background-color: transparent;
  border: 2px solid #007bff;
  color: #007bff;
}

.ver-codigo {
  background-color: #28a745;
  color: white;
  border: 2px solid transparent;
}

.ver-codigo:hover {
  background-color: transparent;
  border: 2px solid #28a745;
  color: #28a745;
}

