@media screen and (max-width: 480px) {
  /* Classes Gerais */
  .flex {
    flex-direction: column;
  }

  .header .logo {
    width: 70%;
    position: relative;
    right: 18%;
  }

  .hero .flex {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  /* TOPO DO SITE */
  .hero {
    padding: calc(var(--spacing-unit) * 2.5) 6%;
  }

  .hero-image {
    width: 100%;
    height: 80%;
  }

  .hero-title {
    font-size: 1.8rem;
    padding: 15% 5% 0 0;
  }

  /* Cabeçalho */
  .header__nav,
  .btn-contato {
    display: none;
  }

  /* Skill */
  .skills {
    padding: calc(var(--spacing-unit) * 2);
  }

  h2.skill__title {
    font-size: 1.8rem;
    padding: auto;
  }

  /* About */

  .about__content h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    line-height: 32px;
  }

  .about__image img {
    width: 100%;
  }

  .btn-social {
    text-align: center;
  }

  /* Projetos */
  section.projects {
    padding: 80px 2%;
  }

  .projects__item-image {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }

  .projects .flex {
    gap: 50px;
  }

  .projects .botoes {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  /* Contact */
  .contact button {
    margin: 0 auto;
    display: block;

    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .contact .btn-resume {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .btn_open {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .btn_open {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .btn_open {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .btn_open {
    display: none;
  }
}
