.skills {
  padding: calc(var(--spacing-unit) * 2.5);
}

.skills .flex {
  gap: 60px;
}
.skill__item {
  color: var(--background-light);
  padding: calc(var(--spacing-unit) * 2.5);
  margin-top: 45px;
  border-radius: var(--border-radius);
  transition: 1s;
  width: 50%;
}

.skill__item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px #ffffff8a;
}

.skill__item i{ 
  font-size: 4rem;
  margin-bottom: 1rem;
    
}

.skill__item h3 {
  font-size: var(--font-size-text);
  margin-bottom: 0.5rem;
} 

